<!-- about section start -->
<div class="theme-section theme-section-ex-padding ku-quote-section gray-bg">
    <div class="container">

		        <div class="area-heading text-center">

	            	<div class="row">
	            		<div class="col-md-12">
			                    <h2 class="area-title">Our Purpose</h2>
			                    <p><%= @bold %> is a resource for new, quality single shoes and pairs of significantly different sizes. Many have this need due to injury, disease and genetic disorders. However, <%= @name %> is not just about footwear. It is about people. <%= @name %> is about quality of life, dignity and respect.</p>
	            		</div>
	            	</div>

	                <div class="row ku-quote">
			                <div class="col-md-4 col-sm-6">
			                    <div class="card card-body">
			                        <h4 class="card-title">Quality Of Life</h4>
			                        <p class="card-text">Properly fitted footwear is critical to general health and well-being. Proper footwear can often prevent worsening conditions, including amputation.</p>
			                    </div>
			                </div>
			              	<div class="col-md-4 col-sm-6">
			                    <div class="card card-body">
			                        <h4 class="card-title">Dignity</h4>
			                        <p class="card-text">No one should have to endure the indignity and embarrassment of wearing ill-fitting footwear.</p>
			                    </div>
			                </div>
			                <div class="col-md-4 col-sm-6">
			                    <div class="card card-body">
			                        <h4 class="card-title">Respect</h4>
			                        <p class="card-text">No one should have to pay for footwear that is unneeded and unwanted simply to get the footwear they require.</p>
			                    </div>
			                </div>
			        </div>

			        <div class="row">
	            		<div class="col-md-12">
			        		<p>Throughout its long history, people have been referred to <%= @name %> by professionals in the health care industry, footwear industry, support groups, human service organizations, community service organizations and by media coverage.</p>
			        	</div>
			        </div>

		    	</div>

        <div class="area-heading text-center">
        <div class="row">
            <div class="col-md-12">

                    <h2 class="area-title">Fulfilling a Need</h2>
                    <p><%= @bold %> is not disease-specific. A wide range of disease, injury and genetic disorders cause people to require one shoe or pairs of different sizes.</p>
                    <p>People from all walks of life, with all life-styles register with <%= @name %>...</p>
            </div>
        </div>
        <div class="row">
            <ul>
            	<li class="col-md-4 col-sm-6">Toddlers</li>
					    <li class="col-md-4 col-sm-6">Active Lifestyles</li>	   
					   	<li class="col-md-4 col-sm-6">Youth</li>
					   	<li class="col-md-4 col-sm-6">Sedentary Lifestyles</li>
					   	<li class="col-md-4 col-sm-6">Adults</li>
					   	<li class="col-md-4 col-sm-6">Professionals</li>
					   	<li class="col-md-4 col-sm-6">Seniors</li>
					   	<li class="col-md-4 col-sm-6">Underprivileged</li>	
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <p><%= @name %> assists people due to a variety of causes. NOSE is unsullied by socio-economic, geographic, gender, political, religious, racial, and moral constraints. <%= @name %> addresses a universal problem that transcends all of these divisions.</p>
                	<p>Varying causes and conditions include...</p>
            </div>
        </div>
        <div class="row">
                	<ul>
		                	 <li class="col-md-4 col-sm-6">Amputation</li>
							 <li class="col-md-4 col-sm-6">Stroke</li>
							 <li class="col-md-4 col-sm-6">Missing Toes</li>
							 <li class="col-md-4 col-sm-6">Club Foot</li>
							 <li class="col-md-4 col-sm-6">Drop Foot</li>
							 <li class="col-md-4 col-sm-6">Charcot's Joint</li>
							 <li class="col-md-4 col-sm-6">Polio</li>
							 <li class="col-md-4 col-sm-6">Brain Trauma</li>
							 <li class="col-md-4 col-sm-6">Lymphedema</li>
							 <li class="col-md-4 col-sm-6">Diabetes</li>
							 <li class="col-md-4 col-sm-6">Partial Amputation</li>
							 <li class="col-md-4 col-sm-6">Leg Braces</li>
							 <li class="col-md-4 col-sm-6">Cerebral Palsy</li>
							 <li class="col-md-4 col-sm-6">Hemi-Hypertrophy</li>
							 <li class="col-md-4 col-sm-6">K-T Syndrome</li>
							 <li class="col-md-4 col-sm-6">Multiple Sclerosis</li>
							 <li class="col-md-4 col-sm-6">Extra Toes</li>
							 <li class="col-md-4 col-sm-6">Cancer</li>
							 <li class="col-md-4 col-sm-6">Just Because</li>	                 		
                	</ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                  	<p>While <%= @name %> does ship internationally, currently its primary focus is in the United States and Canada.</p>

            </div>
        </div>
    	</div>

        <div class="row">
            <div class="col-md-12">

                <div class="area-heading text-center">
                    <h2 class="area-title">Our History</h2>
                    <p><%= @bold %> was founded in St. Louis, Missouri in 1943. The late Ruth Rubin-Feldman created the organization as a support for polio survivors. Herself a survivor of polio, Ms. Feldman had feet of significantly different sizes. When wartime rationing made buying two sizes even more difficult, she conceived the idea of a service whereby people with similar problems could register their names and sizes. The registry served as a clearing-house that put people with similar interests and tastes, but opposite foot sizes, in touch with one another. Together the new friends could buy footwear and share the cost. No shoes were wasted and they saved money!</p>
                    <p>With many veterans coming home from the war as amputees, the service grew and broadened its scope. First Lady Elenor Roosevelt gave <%= @name %> nationwide recognition for providing such a valuable service.</p>
                    <p>Today, <%= @name %> is no longer disease-specific, but assists people with a variety of conditions and life-styles. <%= @name %> ships new, quality footwear to children, adults and seniors across the United States and Canada from its distribution center in Arizona.</p>
                </div>

                <div class="area-heading text-center">
                    <h2 class="area-title">Non-Profit</h2>
                    <p><%= @bold %> is a 501(c)(3) non-profit organization that is a source of footwear for those requiring single shoes or pairs of differing sizes. Many have this need due to injury, disease or genetic disorders.</p>
                </div>

                <div class="area-heading text-center">
                    <h2 class="area-title">Donations</h2>
                    <p><%= @bold %> is made possible by financial donations and in-kind support.</p>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- about section end -->





