<body>
    <!-- theme preloader area start -->
    <div id="humanity-preloader-wrapper">
        <div class="preloader-wave-effect"></div>
    </div>
    <!-- theme preloader area end -->
    <!-- Main wrapper start -->
    <div class="wrapper">
        <!-- Header area start -->
        <!-- Header area start -->
        <header class="header-area header-with-countdown header-bottom-bg">
            <div class="header-top-area red-header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-md-8">
                            <div class="header-top-left">
                                <ul class="email-phone">
                                    <li><a href="#"><i class="fa fa-envelope"></i> Email: <span class="text-bold">info@yourdomain.com</span></a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i> Call us: <span class="text-bold">+9 341 670 5657</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <div class="header-top-right">
                                <ul class="header-social-menu">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="logo-wrapper">
                                <a class="logo" href="index.html">humanity</a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-9 col-xs-12">
                            <div class="countdown-area">
                                <div class="countdown-message">
                                    <h2>Our next event</h2>
                                    <p>Make your donation now</p>
                                </div>
                                <div class="countdown">
                                    <div class="timer">
                                        <div class="time-wrapper">
                                            <h4 class="days">0</h4>
                                            <span>days</span>
                                        </div>
                                    </div>
                                    <div class="timer">
                                        <div class="time-wrapper">
                                            <h4 class="hours">0</h4>
                                            <span>hours</span>
                                        </div>
                                    </div>
                                    <div class="timer">
                                        <div class="time-wrapper">
                                            <h4 class="minutes">0</h4>
                                            <span>minutes</span>
                                        </div>
                                    </div>
                                    <div class="timer">
                                        <div class="time-wrapper">
                                            <h4 class="seconds">0</h4>
                                            <span>seconds</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 hidden-sm hidden-xs">
                            <div class="header-btn">
                                <ul class="header-action">
                                    <li><a class="btn btn-default" href="#">donate now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="menu-full-width color">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 hidden-xs hidden-sm">
                            <div class="menu-area">
                                <nav class="template-menu">
                                    <ul class="main-menu">
                                        <li><a href="#">Home<i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="index.html">humanity - home 1</a></li>
                                                <li><a href="index-2.html">humanity - home 2</a></li>
                                                <li><a href="index-3.html">humanity - home 3</a></li>
                                                <li><a href="index-4.html">humanity - home 4</a></li>
                                                <li><a href="index-5.html">humanity - home 5</a></li>
                                                <li><a href="index-6.html">humanity - home 6</a></li>
                                                <li><a href="index-7.html">humanity - home 7</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">event<i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="event-grid-view.html">event grid</a></li>
                                                <li><a href="event-left-sidebar.html">event left sidebar</a></li>
                                                <li><a href="event-right-sidebar.html">event right sidebar</a></li>
                                                <li><a href="single-event.html">single event</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">blog<i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="blog-left-sidebar.html">blog left sidebar</a>
                                                </li>
                                                <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
                                                <li><a href="single-blog-post.html">single blog post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages<i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><%= link_to 'About', public_page_path(:about) %></li>
                                                <li><%= link_to 'Quotes', public_page_path(:faqs) %></li>
                                                <li><a href="contact.html">contact</a></li>
                                                <li><a href="volunteer.html">volunteer</a></li>
                                            </ul>
                                        </li>
                                        <li><%= link_to 'About', public_page_path(:about) %></li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile menu area start -->
                        <div class="mobile-menu-area clearfix hidden-md">
                            <nav class="mobile-menu">
                                <ul class="mobile-menu-nav">
                                    <li><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">humanity - home 1</a></li>
                                            <li><a href="index-2.html">humanity - home 2</a></li>
                                            <li><a href="index-3.html">humanity - home 3</a></li>
                                            <li><a href="index-4.html">humanity - home 4</a></li>
                                            <li><a href="index-5.html">humanity - home 5</a></li>
                                            <li><a href="index-6.html">humanity - home 6</a></li>
                                            <li><a href="index-7.html">humanity - home 7</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">event</a>
                                        <ul>
                                                <li><a href="event-grid-view.html">event grid</a></li>
                                            <li><a href="event-left-sidebar.html">event left sidebar</a></li>
                                            <li><a href="event-right-sidebar.html">event right sidebar</a></li>
                                            <li><a href="single-event.html">single event</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">blog</a>
                                        <ul>
                                            <li><a href="blog-left-sidebar.html">blog left sidebar</a>
                                            </li>
                                            <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
                                            <li><a href="single-blog-post.html">single blog post</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">pages</a>
                                        <ul>
                                            <li><%= link_to 'About', public_page_path(:about) %></li>
                                            <li><%= link_to 'Quotes', public_page_path(:faqs) %></li>
                                            <li><a href="contact.html">contact</a></li>
                                            <li><a href="volunteer.html">volunteer</a></li>
                                        </ul>
                                    </li>
                                    <li><%= link_to 'About', public_page_path(:about) %></li>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Mobile menu area end -->
                        <div class="col-md-2">
                            <div class="header-search text-right">
                                <a class="search-toggle-button" href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header area end -->
        <!-- Full width search section start -->
        <div class="full-width-search-wrapper">
            <div class="search-area">
                <p class="search-closer"><i class="fa fa-times"></i></p>
                <form action="#" class="full-width-search-form">
                    <input type="text" placeholder="Enter keyword.." id="search-keyword">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <!-- Full width search section end -->
        <!-- Slider area start -->
        <div class="template-slider-area">
            <div class="slider-wrapper">
                <div class="single-slider slide-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 col-sm-9">
                                <div class="slider-content text-left">
                                    <div class="slider-content-wrapper">
                                        <p><span>Education in Africa</span></p>
                                        <h1><a href="#">kindness & humanity.</a></h1>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .3s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-btn">
                                            <a class="btn btn-default" href="#">donate now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slide-7">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 col-sm-9">
                                <div class="slider-content text-left">
                                    <div class="slider-content-wrapper">
                                        <p><span>Health care in Africa</span></p>
                                        <h1><a href="#">kindness & humanity.</a></h1>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-btn">
                                            <a class="btn btn-default" href="#">donate now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slide-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 col-sm-9">
                                <div class="slider-content text-left">
                                    <div class="slider-content-wrapper">
                                        <p><span>Health care in Africa</span></p>
                                        <h1><a href="#">kindness & humanity.</a></h1>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-btn">
                                            <a class="btn btn-default" href="#">donate now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider area end -->
        <!-- Page content area start -->
        <section class="content">
            <!-- Donet section start -->
            <div class="donet-section theme-section theme-section-ex-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h3 class="area-title">Featured campaigns</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="donate-feature-list navigation-style-1">
                                <div class="single-donet">
                                    <div class="donet-thumbnail">
                                        <img src="img/feature/1.jpg" alt="">
                                    </div>
                                    <div class="donet-content">
                                        <div class="donet-content-heading">
                                            <h3><a href="#">Clean water for africa</a></h3>
                                            <ul class="event-meta">
                                                <li><a href="#"><i class="fa fa-tag"></i>Water</a></li>
                                                <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quae aut tempore fugiat, veritatis. Mollitia consequatur, veritatis quidem id ipsum cumque nemo quisquam, necessitatibus, aliquam error voluptate, et incidunt soluta.</p>
                                        </div>
                                        <div class="donet-bar">
                                            <p>Raised: $3750 <span class="project-goal">Goal: $10000</span></p>
                                            <div class="progress-bar-area">
                                                <div class="single-progress-bar">
                                                    <div class="progress ">
                                                        <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                            <span>65%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn btn-default" href="#">donate now</a>
                                    </div>
                                </div>
                                <div class="single-donet">
                                    <div class="donet-thumbnail">
                                        <img src="img/feature/2.jpg" alt="">
                                    </div>
                                    <div class="donet-content">
                                        <div class="donet-content-heading">
                                            <h3><a href="#">special cause Right Now</a></h3>
                                            <ul class="event-meta">
                                                <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                                <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quae aut tempore fugiat, veritatis. Mollitia consequatur, veritatis quidem id ipsum cumque nemo quisquam, necessitatibus, aliquam error voluptate, et incidunt soluta.</p>
                                        </div>
                                        <div class="donet-bar">
                                            <p>Raised: $4500 <span class="project-goal">Goal: $20000</span></p>
                                            <div class="progress-bar-area">
                                                <div class="single-progress-bar">
                                                    <div class="progress ">
                                                        <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                            <span>60%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn btn-default" href="#">donate now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Donet section end -->
            <!-- Event section start  -->
            <div class="event-section theme-section gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h2 class="area-title">recent events</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><img src="img/event/1.jpg" alt=""></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">stop children abuse</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor..</p>
                                    <div class="donet-bar">
                                        <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><img src="img/event/2.jpg" alt=""></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">stop children abuse</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor.</p>
                                    <div class="donet-bar">
                                        <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><img src="img/event/3.jpg" alt=""></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">stop children abuse</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor.</p>
                                    <div class="donet-bar">
                                        <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><img src="img/event/4.jpg" alt=""></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">stop children abuse</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor.</p>
                                    <div class="donet-bar">
                                        <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><img src="img/event/5.jpg" alt=""></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">dont't hurt me!</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor.</p>
                                    <div class="donet-bar">
                                        <p>Raised: $20050 <span class="project-goal">Goal: $30000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>75%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><img src="img/event/1.jpg" alt=""></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">stop children abuse</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor.</p>
                                    <div class="donet-bar">
                                        <p>Raised: $12750 <span class="project-goal">Goal: $15000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>85%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event section end  -->
            <!-- portfolio area starts -->
            <div class="portfolio-area theme-section white-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h2 class="area-title">recent causes</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio-filter">
                                <ul class="protfolio-filter">
                                    <li class="active"><a href="#" data-filter="*">All</a></li>
                                    <li><a href="#" data-filter=".cat-1">education</a></li>
                                    <li><a href="#" data-filter=".cat-2">health care</a></li>
                                    <li><a href="#" data-filter=".cat-3">Environment</a></li>
                                    <li><a href="#" data-filter=".cat-4">Water</a></li>
                                    <li><a href="#" data-filter=".cat-5">School</a></li>
                                </ul>
                            </div>
                            <div class="portfolio-container">
                                <div class="cat-1 cat-3 portfolio-item">
                                    <div class="item-content">
                                        <div class="item-thumnail">
                                            <img src="img/portfolio/1.jpg" alt="image">
                                            <div class="view-btn">
                                                <a class="view-gallery" data-gall="myGallery" href="img/portfolio/large/1.jpg"><i class="bi bi-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="portfolio-description">
                                            <div class="description-content">
                                                <h4><a href="#">Save children</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">children</a></li>
                                                    <li><a href="#">Food</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-4 cat-5 portfolio-item">
                                    <div class="item-content">
                                        <div class="item-thumnail">
                                            <img src="img/portfolio/2.jpg" alt="image">
                                            <div class="view-btn">
                                                <a class="view-gallery" data-gall="myGallery" href="img/portfolio/large/2.jpg"><i class="bi bi-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="portfolio-description">
                                            <div class="description-content">
                                                <h4><a href="#">Education</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">Education</a></li>
                                                    <li><a href="#">children</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-3 cat-5 portfolio-item">
                                    <div class="item-content">
                                        <div class="item-thumnail">
                                            <img src="img/portfolio/3.jpg" alt="image">
                                            <div class="view-btn">
                                                <a class="view-gallery" data-gall="myGallery" href="img/portfolio/large/3.jpg"><i class="bi bi-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="portfolio-description">
                                            <div class="description-content">
                                                <h4><a href="#">Women's issues</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">Women</a></li>
                                                    <li><a href="#">children</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-1 cat-4 portfolio-item">
                                    <div class="item-content">
                                        <div class="item-thumnail">
                                            <img src="img/portfolio/4.jpg" alt="image">
                                            <div class="view-btn">
                                                <a class="view-gallery" data-gall="myGallery" href="img/portfolio/large/4.jpg"><i class="bi bi-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="portfolio-description">
                                            <div class="description-content">
                                                <h4><a href="#">Help elderly</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">elderly</a></li>
                                                    <li><a href="#">Home</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-2 cat-5 portfolio-item">
                                    <div class="item-content">
                                        <div class="item-thumnail">
                                            <img src="img/portfolio/5.jpg" alt="image">
                                            <div class="view-btn">
                                                <a class="view-gallery" data-gall="myGallery" href="img/portfolio/large/5.jpg"><i class="bi bi-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="portfolio-description">
                                            <div class="description-content">
                                                <h4><a href="#">Stop abortion</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">abortion</a></li>
                                                    <li><a href="#">children</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-1 cat-4 portfolio-item">
                                    <div class="item-content">
                                        <div class="item-thumnail">
                                            <img src="img/portfolio/6.jpg" alt="image">
                                            <div class="view-btn">
                                                <a class="view-gallery" data-gall="myGallery" href="img/portfolio/large/6.jpg"><i class="bi bi-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="portfolio-description">
                                            <div class="description-content">
                                                <h4><a href="#">Help disabled</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">disabled</a></li>
                                                    <li><a href="#">Home</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-2 cat-3 portfolio-item hidden">
                                    <div class="item-content">
                                        <div class="item-thumnail">
                                            <img src="img/portfolio/7.jpg" alt="image">
                                            <div class="view-btn">
                                                <a class="view-gallery" data-gall="myGallery" href="img/portfolio/large/7.jpg"><i class="bi bi-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="portfolio-description">
                                            <div class="description-content">
                                                <h4><a href="#">Save children</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">children</a></li>
                                                    <li><a href="#">Food</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-1 cat-5 portfolio-item hidden">
                                    <div class="item-content">
                                        <div class="item-thumnail">
                                            <img src="img/portfolio/4.jpg" alt="image">
                                            <div class="view-btn">
                                                <a class="view-gallery" data-gall="myGallery" href="img/portfolio/large/4.jpg"><i class="bi bi-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="portfolio-description">
                                            <div class="description-content">
                                                <h4><a href="#">Help elderly</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">children</a></li>
                                                    <li><a href="#">Food</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-2 cat-4 portfolio-item hidden hidden-sm">
                                    <div class="item-content">
                                        <div class="item-thumnail">
                                            <img src="img/portfolio/3.jpg" alt="image">
                                            <div class="view-btn">
                                                <a class="view-gallery" data-gall="myGallery" href="img/portfolio/large/3.jpg"><i class="bi bi-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="portfolio-description">
                                            <div class="description-content">
                                                <h4><a href="#">Help disabled</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">children</a></li>
                                                    <li><a href="#">Food</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="load-more text-center">
                                <a href="#" class="btn btn-default load-more-btn">Load More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio area ends -->
            <!-- volunteer section start -->
            <div class="theme-section theme-section-ex-padding gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h2 class="area-title">meet our volunteer</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-lg-8">
                            <div class="volunteer-member-list navigation-style-1 navigation-style-2">
                                <div class="single-volunteer-member">
                                    <div class="volunteer-thumb">
                                        <img src="img/volunteer/1.jpg" alt="">
                                    </div>
                                    <div class="volunteer-content">
                                        <h4><a href="#">john doe</a></h4>
                                        <p>UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="single-volunteer-member">
                                    <div class="volunteer-thumb">
                                        <img src="img/volunteer/2.jpg" alt="">
                                    </div>
                                    <div class="volunteer-content">
                                        <h4><a href="#">Sofia Torn</a></h4>
                                        <p>Programmer</p>
                                    </div>
                                </div>
                                <div class="single-volunteer-member">
                                    <div class="volunteer-thumb">
                                        <img src="img/volunteer/3.jpg" alt="">
                                    </div>
                                    <div class="volunteer-content">
                                        <h4><a href="#">Ashikur Khan</a></h4>
                                        <p>Chief Volunteer</p>
                                    </div>
                                </div>
                                <div class="single-volunteer-member">
                                    <div class="volunteer-thumb">
                                        <img src="img/volunteer/1.jpg" alt="">
                                    </div>
                                    <div class="volunteer-content">
                                        <h4><a href="#">john doe</a></h4>
                                        <p>Support</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-4 hidden-sm hidden-xs">
                            <div class="be-volunteer">
                                <div class="be-volunteer-content text-center">
                                    <h4>become volunteer</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus vitae optio, eaque debitis eius dicta!</p>
                                    <a href="#" class="btn btn-default">join now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- volunteer section end -->
            <!-- Call to action start -->
            <div class="call-to-action-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="call-to-action-content text-center">
                                <h3>Give a little & change a lot.</h3>
                                <h2>let's work together</h2>
                                <a href="#" class="btn btn-default">Work With us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to action end -->
            <!-- Donor area starts -->
            <div class="donor-section theme-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h2 class="area-title">Make your donation</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="donor-section-wrapper">
                                <div class="single-donor-info">
                                    <form action="#">
                                        <div class="donor-information-wrapper">
                                            <h2 class="donor-title">donate now</h2>
                                            <div class="donor-information">
                                                <div class="form-group">
                                                    <input type="text" class="amount-input" placeholder="Name" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="amount-input" placeholder="Phone" required>
                                                    <input type="email" class="amount-input" placeholder="Email" required>
                                                </div>
                                                <div class="donor-amount">
                                                    <div class="single-donor-amount">
                                                        <div class="single-donor-amount-wrapper">
                                                            <input id="first-amount" type="radio" name="amount" value="100">
                                                            <label for="first-amount">100 USD</label>
                                                        </div>
                                                    </div>
                                                    <div class="single-donor-amount">
                                                        <div class="single-donor-amount-wrapper">
                                                            <input id="second-amount" type="radio" name="amount" value="150">
                                                            <label for="second-amount">150 USD</label>
                                                        </div>
                                                    </div>
                                                    <div class="single-donor-amount">
                                                        <div class="single-donor-amount-wrapper">
                                                            <input id="third-amount" type="radio" name="amount" value="200">
                                                            <label for="third-amount">200 USD</label>
                                                        </div>
                                                    </div>
                                                    <div class="single-donor-amount">
                                                        <input id="custom-amount" type="number" name="amount" placeholder="Custom Amount">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <textarea rows="3" placeholder="Type your message" required></textarea>
                                                </div>
                                                <button type="submit" class="btn-default btn">donate now</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="donor-thumb single-donor-info">
                                    <div class="donor-thumb-wrapper">
                                        <h2 class="donor-title">Featured donors</h2>
                                        <img src="img/bg/about.png" alt="">
                                        <div class="donor-message">
                                            <h3>John Snow</h3>
                                            <p>Donated amount :<span> 1500 USD</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- donor area end -->
            <!-- Counter section start -->
            <div class="counter-section theme-section-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 ">
                            <div class="single-counter text-center ">
                                <div class="counter-icon ">
                                    <i class="bi bi-love"></i>
                                </div>
                                <div class="counter-content ">
                                    <p class="counter ">485</p>
                                    <h3>causes solved</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ">
                            <div class="single-counter text-center ">
                                <div class="counter-icon ">
                                    <i class="bi bi-group"></i>
                                </div>
                                <div class="counter-content ">
                                    <p class="counter ">866</p>
                                    <h3>volunteers</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ">
                            <div class="single-counter text-center ">
                                <div class="counter-icon ">
                                    <i class="bi bi-like"></i>
                                </div>
                                <div class="counter-content ">
                                    <p class="counter">897</p>
                                    <h3>honorable donor</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ">
                            <div class="single-counter text-center ">
                                <div class="counter-icon">
                                    <i class="bi bi-emo-smile"></i>
                                </div>
                                <div class="counter-content ">
                                    <p class="counter ">2050</p>
                                    <h3>saved children</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Counter section end -->
            <!-- Testimonial area start -->
            <div class="theme-section theme-section-ex-padding testimonial-section gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h2 class="area-title">what our donors say?</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="testimonial-wrapper navigation-style-1">
                                <div class="single-testimonial ">
                                    <blockquote>
                                        <img src="img/avatar/1.jpg " alt=" " class="client-image">
                                        <p class="client-name ">John Doe <span class="designation ">CEO Microsoft</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cumque, quibusdam.</p>
                                    </blockquote>
                                </div>
                                <div class="single-testimonial ">
                                    <blockquote>
                                        <img src="img/avatar/2.jpg " alt=" " class="client-image ">
                                        <p class="client-name ">John Doe <span class="designation ">CEO Google</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cumque, quibusdam.</p>
                                    </blockquote>
                                </div>
                                <div class="single-testimonial ">
                                    <blockquote>
                                        <img src="img/avatar/3.jpg " alt=" " class="client-image ">
                                        <p class="client-name ">John Doe <span class="designation ">CEO Twitter</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cumque, quibusdam.</p>
                                    </blockquote>
                                </div>
                                <div class="single-testimonial ">
                                    <blockquote>
                                        <img src="img/avatar/3.jpg " alt=" " class="client-image ">
                                        <p class="client-name ">John Doe <span class="designation ">CEO Twitter</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cumque, quibusdam.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial area end -->
            <!-- Blog area start -->
            <div class="theme-section blog-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h2 class="area-title">Recent News</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <article class="blog-post">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="img/blog/1.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h5 class="post-title"><a href="#">Education for children</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla, expedita. Earum neque inventore in.</p>
                                    <a class="text-link" href="#">learn more</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="blog-post">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="img/blog/2.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h5 class="post-title"><a href="#">Education for children</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla, expedita. Earum neque inventore in.</p>
                                    <a class="text-link" href="#">learn more</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 hidden-sm">
                            <article class="blog-post">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="img/blog/3.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h5 class="post-title"><a href="#">Education for children</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla, expedita. Earum neque inventore in.</p>
                                    <a class="text-link" href="#">learn more</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog area end -->
            <!-- sponsor area start -->
            <div class="sponsor-section theme-section-2 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sponsor-thumbnail-wrapper">
                                <div class="single-sponsor-thumb">
                                    <img src="img/sponsor/1.png" alt="">
                                </div>
                                <div class="single-sponsor-thumb">
                                    <img src="img/sponsor/2.png" alt="">
                                </div>
                                <div class="single-sponsor-thumb">
                                    <img src="img/sponsor/3.png" alt="">
                                </div>
                                <div class="single-sponsor-thumb">
                                    <img src="img/sponsor/4.png" alt="">
                                </div>
                                <div class="single-sponsor-thumb">
                                    <img src="img/sponsor/5.png" alt="">
                                </div>
                                <div class="single-sponsor-thumb">
                                    <img src="img/sponsor/3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sponsor area end -->
        </section>
        <!-- Page content area end -->
    </div>
    <!-- Main wrapper end -->
</body>
