<% name = "<i>National Odd Shoe Exchange</i>".html_safe %>
<% bold = "<b>#{name}</b>".html_safe %>

<!-- donate section start -->
<div class="theme-section theme-section-ex-padding ku-quote-section gray-bg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <div class="area-heading text-center">
                    <h2 class="area-title">To Contribute</h2>
                    <p>No one should be deprived of the properly-fitted footwear that most of us take for granted. To tackle this, <%= name %> needs your help.</p>
                    <p><%= name %> seeks monetary donations and donations in-kind from corporations, small businesses and individuals just like you.</p>
                    <p>Support of <%= name %> is unsullied by political, geographic, racial, social, economic, religious and moral constraints. <%= name %> addresses a universal problem that transcends all of these common divisions.</p>
                </div>

                <div class="area-heading text-center">
                    <h2 class="area-title">Monetary Donation</h2>
                    <p>Monetary donations make this service possible and enable its continued growth and outreach. Donations of all sizes are appreciated. <%= name %> proudly accepts financial contributions from corporations, small businesses and individuals just like you. Please contact us today to show your support.</p>
                </div>

                <div class="area-heading text-center">
                    <h2 class="area-title">In-Kind Donation</h2>
                    <p>Donations in-kind include footwear items (shoes, boots, socks, inserts, laces), office supplies, packaging supplies, promotional items, warehouse equipment, and office equipment. Feel free to contact us for any clarification of these, or other, needs.</p>
                    <p>Footwear items must be new, unworn and undamaged. <%= name %> accepts matched pairs, mis-mated pairs, singles and bulk footwear items. All styles and sizes are needed.</p>
                    <p>For health and safety reasons, <%= name %> cannot accept worn or damaged items.</p>
                </div>

                <div class="area-heading text-center">
                    <h2 class="area-title">Mail Address</h2>
                    <p>Donations and contributions may sent via <b>U.S. Mail</b> to:</p>
                    <div class="card card-body">
			            <h4 class="card-title"><%= name %></h4>
			            <p class="card-text">POB 1120</p>
			            <p class="card-text">Chandler, Arizona   USA</p>
			            <p class="card-text">85244-1120</p>
			        </div>
			        <p class="card-text">As this is a US Postal Service P.O. Box, do not use this address for UPS, FedEx and other private carriers. To ship freight and larger deliveries, phone (480) 892-3484.</p>
                </div>

                <div class="area-heading text-center">
                    <h2 class="area-title">Tax Deductable</h2>
                    <p>As a 501(c)(3) organization, donations are tax-deductible. </p>
                </div>


            </div>
        </div>

    </div>
</div>
<!-- donate section end -->

 