<!-- Page content area start -->
<section class="content">
    <%= render 'sections/pat_notes'      if true %>
    <%= render 'sections/donate'         if true %>
    <%= render 'sections/event'          if true %>
    <%= render 'sections/portfolio'      if false %>
    <%= render 'sections/volunteer'      if false %>
    <%= render 'sections/call_to_action' if false %>
    <%= render 'sections/donor'          if false %>
    <%= render 'sections/counter'        if false %>
    <%= render 'sections/testimonial'    if true %>
    <%= render 'sections/sponsor'        if false %>
</section>
<!-- Page content area end -->