<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Left size</th>
      <th>Left width</th>
      <th>Right size</th>
      <th>Left width</th>
      <th>Style</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td><%= order.left_size %></td>
        <td><%= order.left_width %></td>
        <td><%= order.right_size %></td>
        <td><%= order.right_width %></td>
        <td><%= order.style %></td>
        <td><%= order.description %></td>
        <td><%= link_to 'Show', agent_order_path(order) %></td>
        <td><%= link_to 'Edit', edit_agent_order_path(order) %></td>
        <td><%= link_to 'Destroy', agent_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_agent_order_path %>
