<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @quote.text %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @quote.signature %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quote.status %>
</p>

<%= link_to 'Edit', edit_admin_quote_path(@quote) %> |
<%= link_to 'Back', admin_quotes_path %>
