            <!-- Event section start  -->
            <div class="event-section theme-section gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h2 class="area-title">recent events</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><%= image_tag("img/event/1.jpg") %></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">stop children abuse</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor..</p>
                                    <div class="donet-bar">
                                        <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><%= image_tag("img/event/2.jpg") %></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">stop children abuse</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor.</p>
                                    <div class="donet-bar">
                                        <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><%= image_tag("img/event/3.jpg") %></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">stop children abuse</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor.</p>
                                    <div class="donet-bar">
                                        <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><%= image_tag("img/event/4.jpg") %></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">stop children abuse</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor.</p>
                                    <div class="donet-bar">
                                        <p>Raised: $9050 <span class="project-goal">Goal: $15000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>65%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><%= image_tag("img/event/5.jpg") %></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">dont't hurt me!</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor.</p>
                                    <div class="donet-bar">
                                        <p>Raised: $20050 <span class="project-goal">Goal: $30000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>75%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="single-event">
                                <div class="event-thumb">
                                    <a href="#"><%= image_tag("img/event/1.jpg") %></a>
                                </div>
                                <div class="event-content event-content-2">
                                    <h5 class="single-event-title"><a href="#">stop children abuse</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eligendi quis non dolor.</p>
                                    <div class="donet-bar">
                                        <p>Raised: $12750 <span class="project-goal">Goal: $15000</span></p>
                                        <div class="progress-bar-area">
                                            <div class="single-progress-bar">
                                                <div class="progress ">
                                                    <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                        <span>85%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" href="#">donate now</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event section end  -->
