<!-- Footer section start -->
<footer class="theme-footer-section">

    <!-- Footer Bottom section start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy-right-info">
                        <p>&copy; 2018 <span>NOS</span>. All right reserved by <a href="http://www.oddshoe.org">Odd Shoe</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-main-menu">
                        <ul class="footer-menu">
                            <li><%= link_to 'Home', admin_page_path(:home) %></li>
                            <li><%= link_to 'Test', admin_page_path(:test) %></li>
                            <li><%= link_to 'Blog', admin_page_path(:blog) %></li>
                            <li><%= link_to 'Quotes', quotes_path %></li>
                            <li><%= link_to 'Notes', admin_page_path(:notes) %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom section end -->
</footer>
<!-- Footer section end -->
