<!DOCTYPE html>
<html>
  <head>
    <title>Kutsu2018</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- theme preloader area start -->
    <div id="humanity-preloader-wrapper">
        <div class="preloader-wave-effect"></div>
    </div>
    <!-- theme preloader area end -->

    <!-- Main wrapper start -->
    <div class="wrapper">
        <% if admin_signed_in? %>
            <%= render 'layouts/header_admin' %>
        <% else %>
            <%= render 'layouts/header_public' %>
        <% end %>
        <%= render 'toastr_rails/flash' %>
        <%= render 'layouts/search' %>
        <%= render 'layouts/slider' if false %>

        <!-- yield section start -->
        <div class="theme-section theme-section-ex-padding ku-quote-section gray-bg">
            <div class="container">
                <%= yield %>
        </div>
        <!-- yield section end -->
        
    </div>
    <!-- Main wrapper end -->
    <% if admin_signed_in? %>
        <%= render 'layouts/footer_admin' %>
    <% else %>
        <%= render 'layouts/footer_public' %>
    <% end %>

</body>

</html>