<!DOCTYPE html>
<html>
  <head>
    <title>Kutsu2018</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- theme preloader area start -->
    <div id="humanity-preloader-wrapper">
        <div class="preloader-wave-effect"></div>
    </div>
    <!-- theme preloader area end -->

    <!-- Main wrapper start -->
    <div class="wrapper">
        <%= render 'layouts/messages' %>
        <%= render 'layouts/header' %>
        <%= render 'layouts/search' %>
        <%= render 'layouts/slider' if false %>
        <%= yield %>
    </div>
    <!-- Main wrapper end -->

    <%= render 'layouts/footer' %>

</body>

</html>
